<div class="head">
  <h1>Play the longest word Game</h1>
  <h2>It's soooo much fun xD</h2>
</div>

<div class="letters">
  <% @letters.each do |letter| %>
  <p><%= letter %></p>
  <% end %>
</div>

<div class="input_form">
  <p>What is the longest word you can find?</p>
  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <input name="letters"_list" type="hidden" value="<%=@letters.join%>" />
    <input type="submit">
  </form>
</div>



